[Desktop Entry]
Encoding=UTF-8
Name=Monea
Comment=Monea P2P Cryptocurrency
Comment[fr]=Monea, monnaie virtuelle cryptographique pair à pair
Comment[tr]=Monea, eşten eşe kriptografik sanal para birimi
Exec=monea-qt %u
Terminal=false
Type=Application
Icon=monea128
MimeType=x-scheme-handler/monea;
Categories=Office;Finance;
