[Unit]
Description=Monea's distributed currency daemon
After=network.target

[Service]
User=moneacore
Group=moneacore

Type=forking
PIDFile=/var/lib/monead/monead.pid
ExecStart=/usr/bin/monead -daemon -pid=/var/lib/monead/monead.pid \
-conf=/etc/moneacore/monea.conf -datadir=/var/lib/monead -disablewallet

Restart=always
PrivateTmp=true
TimeoutStopSec=60s
TimeoutStartSec=2s
StartLimitInterval=120s
StartLimitBurst=5

[Install]
WantedBy=multi-user.target
